.header-wrapper{
    position: relative;
    height: 100px;
    max-width: 1900px;
    .header-contain{
        height: 100%;
        margin:0 10%;
        .logo{
            @extend %logo;
            float: left;
        }
        .nav-wrapper{
            @extend %nav-wrapper;
            float: right;
            bottom: 0px;
        }
    }
}